@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: #e6e6e6;
}

.scroll-hidden::-webkit-scrollbar {
  display: none;
}

.react-calendar {
  background: #F1F1F1 !important;
  border: 0px !important;
}

abbr {
  color: gray;
  font-weight: 600;
  font-size: small;
}

.react-calendar__tile--now {
  background: transparent !important;
}

.react-calendar__tile--active {
  background: #111827 !important;
  color: white !important;
  border-radius: 50%;
  padding: 0px 0px !important;
}

 .react-calendar__tile--active abbr {
  background: #111827 !important;
  color: white !important;
  border-radius: 50%;
}

.react-calendar__navigation__label__labelText {
  color: #111827 !important;
  font-weight: 600;
}
